
<div class="ui blue inverted vertical segment">
    <div class="ui container">
        <p>FinoteBirhan &copy; 2017</p>
        <p><a href="/">terms of agreement</a></p>
    </div>
</div>

<% include _footer %> 
    

