<% include ../partials/header %>
    <div class="ui container">
        <div class="ui raised very padded text container segment">
            <div class="ui centered card">
                <div class="image">
                    <img src="/images/avatar.png">
                </div>
                <div class="content">
                    <a class="header"><%= mem.first_name + " " + mem.last_name %></a>
                </div>
            </div>
        </div>
    </div>

<% include ../partials/footer %>